body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BILLEDE AF CHOKOLADEBARER TIL BAGGRUND */

body {
  background-image: url(https://media.istockphoto.com/id/1394551490/vector/dark-milk-and-white-chocolate-bar-in-an-open-package-seamless-pattern.jpg?s=612x612&w=0&k=20&c=jX4UZzcn30TZfBmL2DwihDiWSkO5zbZreSPLvbpxIjU=);
  margin-bottom: 100px;
  margin-top: 30px;
}

/* FIRKANT I BAGGRUNDEN */

#main {
  border-radius: 1cm;
  border: solid black;
  background-color: lightgrey;
  margin-right: auto;
  margin-left: auto;
  width: 25cm;
  text-align: center;
}

/* OVERSKRIFT */

h1 {
  font-size: 4em;
  font-weight: 200;
  letter-spacing: 7px;
  text-align: center;
}

/* BILLEDE AF BROWNIES */

#billede {
  border-radius: 1cm;
  border: solid black;
  font-size: 0em;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* BESKRIVELSE */

#beskrivelse {
  font-size: 1.2em;
  font-weight: 350;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 4px;
  margin-bottom: 0px;
}

/* INGREDIENSER OVERSKRIFT */

#ingredienser {
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-weight: 350;
  letter-spacing: 0.7px;
  text-align: center;
  line-height: 15px;
}

/* PORTIONSSTØRRELSE */

#portioner {
  margin-left: auto;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: center;
}

/* LISTE OVER INGREDIENSER */

#liste1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: left;
  line-height: 27px;
}

/* FREMGANGSMÅDE OVERSKRIFT */

#fremgangsmåde {
  font-size: 2em;
  font-weight: 350;
  letter-spacing: 0.7px;
  text-align: center;
}

/* STEP BY STEP FREMGANGSMÅDE */

#stepbystep {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 700px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: left;
  line-height: 27px;
}

/* TIME IMAGE */

#clock {
  margin-bottom: -20px;
}

/* FOOTER */

footer:hover {
  font-size: large;
}
